.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {

  }
}

.App-header {
  background-color: #000000;

}

.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
